/* id properties */
#header{
    background-color: rgb(37 37 37);
    width: 100%;
    text-align: center;
}
#footer{
    background-color: rgb(37 37 37);
    display: flex;
    text-align: center;
    align-items: center;
    height: 5rem;
    width: 100%;
}
#badgeContainer{
    display: flex;
    align-items: center;
    justify-content: center;   
}
#currentWork{
    padding: 3%; 
    margin: 2%;
    text-align: center;
}
#cardContainer{
    display: flow-root;
}
#viewGitCard{
    float: left;
}
#viewLinkedInCard{
    float: right;
}
#spotify{
    object-fit: contain;
    width: 25%;
    height: 50%;
}
#moreInfoContainer{
    display: block;
}

/* class properties */
.rounded-circle{
    border: 2px solid black;
}
.card{
    width: 31.5%;
    margin: 5.5%;
    height: 30rem;
}
.card-footer{
    background: transparent;
    border-top: none;
}

.column {
    float: left;
    width: 50%;
    padding: 1%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* element properties */
body{
    background-color: rgb(98 159 191);
    font-family: 'Playfair Display', serif;
    color: black;
}
details > summary {
    padding: 0.8%;
    background-color: rgb(231, 138, 182);
    border: solid black 0.075rem;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 0.3rem;
}
ul{
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
h2{
    text-align: center;
}
h1{
    color: rgb(251, 244, 230);
    margin-top: 1%;
    margin-right: 8%;
}


@media screen and (min-width: 0px) {
    .card{
        width: 50%;
        height: 16rem;
        margin: 2%;
    }
    .card-img-top{
        display: none;
    }
    .rounded-circle{
        width: 7rem;
        height: 7rem;
    }
    #header{
        height: 9rem;
    }
    #imageContainer{
        float: left;
        margin-left: 1%;
    }
    #cardContainer{
        display: flex;
    }
}

