.header{
    background-color: rgb(164, 122, 164);
    height: 15rem;
    width: 100%;
    text-align: center;
}
.footer{
    background-color: rgb(96, 70, 96);
    height: 15rem;
}
.rounded-circle{
    height: 16rem;
    width: 16rem;
}
.card{
    width: 31.5%;
    margin: 3.5%;
    height: 35rem;
}
.headerText{
    padding-top: 3rem;
}
#cardContainer{
    display: flow-root;
}
#viewGitCard{
    float: left;
}
#viewLinkedInCard{
    float: right;
}
body{
    background-color: rgb(174, 211, 138);
    font-family: 'Playfair Display', serif;
}
.card-footer{
    background: transparent;
    border-top: none;
}
.moreInfoContainer{
    display: block;
}
details > summary {
    padding: 0.8%;
    background-color: rgb(131, 189, 163);
    border: solid black 0.1rem;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 0.3rem;
}
ul{
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}


@media screen and (max-width: 800px) {
    .card{
        width: 50%;
        height: 16rem;
        margin: 2%;
    }
    .card-img-top{
        display: none;
    }
    .rounded-circle{
        width: 6rem;
        height: 6rem;
    }
    .header{
        text-align: center;
        height: 8rem;
    }
    .headerText{
        width: 75%;
        float: right;
        display: none;
    }
    .imageContainer{
        float: left;
        margin-left: 1%;
    }
    #cardContainer{
        display: flex;
    }
}

@media screen and (max-width: 450px) {
    .card-footer, .card, .card-body{
        width: 100%;
    }
    #cardContainer{
        display: compact;
    }
    .card{
        width: 100%;
        height: 12rem;
        margin: 2%;
    }
}